<div class="table-responsive">
  <div *ngIf="showExportActions && exportableFormats && exportableFormats.length > 0" class="btn-toolbar mb-2 mb-md-0">
    <div class="mb-2 mt-2 col-12 p-0">
      <button *ngIf="exportableFormats.indexOf('XLSX') > -1" class="btn btn-sm btn-outline-secondary float-right" (click)="exportList('XLSX');">Excel
        <small>(.xlsx)</small>
      </button>
      <button *ngIf="exportableFormats.indexOf('CSV') > -1" class="btn btn-sm btn-outline-secondary float-right mr-2" (click)="exportList('CSV');">CSV</button>
    </div>
  </div>
  <table class="table table-striped table-hover table-responsive-sm table-sm">
    <thead>
    <tr>
      <th *ngIf="showIndexHeader">#</th>
      <th *ngFor="let h of headers">{{h.title | translate}}</th>
    </tr>
    </thead>
    <tbody *ngIf="!list || !list.length">
    <tr>
      <td colspan="100">{{'No elements to show' | translate}}</td>
    </tr>
    </tbody>
    <tbody *ngIf="list && list.length">
    <ng-container *ngFor="let element of list | orderBy: 'priority'; let i = index">
      <tr *ngIf="(i >= (currentPage-1) * elementsPerPage) && (i < currentPage * elementsPerPage)">
        <td *ngIf="showIndexHeader">{{i + 1}}</td>
        <td *ngFor="let h of headers ">
          <ng-container *ngIf="!h.isCustom">
            {{element[h.key] || '--'}}
          </ng-container>
          <ng-container *ngIf="h.key === 'check'">
            <label>
              <input type="checkbox" (click)="onElementChecked(element, $event)" [checked]="element.checked">
            </label>
          </ng-container>
          <ng-container *ngIf="h.key === 'openDetail' && element.id && h.path">
            <a routerLink="/{{h.path + element.id}}">
              <mat-icon>edit</mat-icon>
            </a>
          </ng-container>
          <ng-container *ngIf="h.key === 'start' || h.key === 'end'">
            {{element[h.key] ? element[h.key].toLocaleString() : '--'}}
          </ng-container>
          <ng-container *ngIf="h.key === 'price'">
            {{element[h.key] ? utils.getFormattedPrice(element[h.key], environment.CURRENCY) : '--'}}
          </ng-container>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <h6 class="float-left mt-2">{{'Total' | translate}} <span class="badge badge-secondary ml-1 pl-2 pr-2">{{list.length}}{{list.length > 0 && hasNextPage ? '+' : ''}}</span></h6>
  <nav class="float-right" aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="loading || currentPage <= 1">
        <a class="page-link" (click)="onPreviousClicked()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">{{'Previous' | translate}}</span>
        </a>
      </li>
      <ng-container *ngFor="let page of getPages()">
        <li *ngIf="page >= currentPage - 3 && page <= currentPage + 3" class="page-item" [class.active]="currentPage === page"><a class="page-link" (click)="goToPage(page)">{{page}}</a></li>
      </ng-container>
      <li class="page-item" [class.disabled]="loading || (!hasNextPage && currentPage === getPages().length)">
        <a class="page-link" (click)="onNextClicked()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">{{'Next' | translate}}</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
