<div class=" p-4 mt-5 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-xs-12 offset-sm-3 offset-md-3 offset-lg-4 offset-xl-4">
  <form class="form-signin" #f="ngForm" novalidate (ngSubmit)="submit(f.value, f.valid)">
    <div class="text-center mb-4">
      <img [class.isLoading]="isLoading" class="mb-4" src="../../../../assets/img/winkular-logo.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">{{"RECOVERY PASSWORD" | translate}}</h1>
      <p>{{"Insert your email and check your inbox." | translate}}</p>
    </div>

    <div class="form-label-group mb-3">
      <input ngModel #email="ngModel" name="email" type="email" id="inputEmail" class="form-control" [class.is-invalid]="f.submitted && (email.invalid || email.pristine)" placeholder="{{'Email address' | translate}}" required autofocus pattern="{{globals.getEmailRegex()}}" [disabled]="isLoading">
      <label for="inputEmail">{{"Email address" | translate}}</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="isLoading">{{"Confirm" | translate}}</button>
    <div class="col-xs-12 text-center mt-2">
      <a routerLink="/login">{{"or go to Login" | translate}}</a>
    </div>
    <p class="mt-5 mb-3 text-muted text-center">Winkular by <a href="https://wink.by" target="_blank">Wink</a></p>
  </form>
</div>
